/*
==========================================================
==========================================================
BASE
==========================================================
==========================================================
*/

/*
--------------------
BODY
--------------------
*/

body {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #2d4b89;
}

/*
--------------------
PARAGRAPHS
--------------------
*/

p {
    margin: 0.5em 0;
    line-height: 1.5em;
}


/*
--------------------
LINKS
--------------------
*/

a {
    display: inline;
    padding: 0 0.2em;
    transition: all 0.2s;
    color: #38b08c;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #ffffff;
    background-color: #38b08c;
    text-decoration: none;
}

a:active {
    color: #ffffff;
    background-color: #4dd1a9;
    text-decoration: none;
}

a > i,
a > svg {
    text-decoration: none;
    margin-left: 0.25em;
}

[class*="bg-d"] a { color: #ffffff}
[class*="bg-d"] a:hover, [class*="bg-d"] a:focus { color: #38b08c; background-color: #ffffff; }
[class*="bg-d"] a:active { color: #4dd1a9; background-color: #ffffff; }

/*
--------------------
TITLES H1, H2, H3, H4, H5, H6
--------------------
*/

h1, h2, h3, h4, h5 {
    line-height: 1.125em;
    margin: 0.75em 0;
}

@media (max-width: 799px) {
    h1, h2, h3, h4, h5, h6 { text-align: center; }
}

/* ----- H1 & h2 ----- */

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    color: #e3415c;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    h1, h2 { font-size: 3em; }
}

@media (max-width: 499px) {
    h1, h2 { font-size: calc(0.106 * 100vw); }
}

/* ----- H3 ----- */

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #fa5b7d;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    h3 { font-size: 2em; }
}

@media (max-width: 499px) {
    h3 { font-size: calc(0.08 * 100vw); }
}

/* ----- H4 ----- */

h4 {
    font-family: 'Quicksand', sans-serif;
    color: #f7b90f;
    font-size: 1.75em;
}

/* ----- H5 ----- */

h5 {
    font-size: 1.5em;
}

/* ----- H6 ----- */

h6 {
    font-size: 1em;
}

/*
--------------------
UL, OL, DT, LI
--------------------
*/

li {
    margin: 0.5em 0;
}

/*
-----------------------------
FIGURES
*/

figure {}

figcaption {
    text-align: center;
}

/*
--------------------
IMG
--------------------
*/

img {
    display: block;
    max-width: 100%;
}

/*
-----------------------------
QUOTATIONS
*/

blockquote {}

blockquote > cite {}


/*
==========================================================
==========================================================
LAYOUT
==========================================================
==========================================================
*/

/*
--------------------
SITE
--------------------
*/

.site {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

/*
--------------------
SECTIONS
--------------------
*/

.fw-section {
    width: 100%;
    position: relative;
    padding: 1px 0;
}

.fh-section {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    .fh-section { height: 100vh; }
}

@media (max-width: 1023px) {
    .fh-section {
        height: auto;
        min-height: 100vh;
    }
}

/*
--------------------
CHIMNEY
--------------------
*/

.chimney {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.chimney.fluid { max-width: none; }
.chimney.small { max-width: 50em; }
.chimney.x-small { max-width: 37.5em; }

@media (max-width: 1199px) and (min-width: 50em) {
    .chimney { margin: 0 3em; }
}


@media (min-width: 50em) {

    [class*="chimney"] { width: calc(100% - 6em); }
    
    .chimney.small { max-width: 50em; margin-left: auto; margin-right: auto; }

    .chimney.x-small { max-width: 37.5em; margin-left: auto; margin-right: auto; }

}

@media (max-width: 799px) {
    .chimney { width: 80%; }
}



/*
--------------------
COLUMNS
--------------------
*/

.columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -0.5em;
}

@media (max-width: 799px) {
    .columns {
        flex-wrap: wrap;
        box-sizing: border-box;
    }
}

/*
--------------------
COLUMN
--------------------
*/

.column {
    margin: 0.5em;
    width: calc(100% - 1em);
    position: relative;
}

/*
--------------------
COLUMN  SIZES
--------------------
*/

.column_1-1 { width: calc(100% - 1em); }
.column_1-1.block_no-margin { width: 100%;}

@media (min-width: 1024px) {
    .column_1-2 { width: calc(50% - 1em); }
    .column_1-2.block_no-margin { width: 50%; }
}

@media (min-width: 800px) {
    .column_1-3 { width: calc((100% / 3 * 1) - 1em); }
    .column_2-3 { width: calc((100% / 3 * 2) - 1em); }
}

@media (min-width: 800px) {
    .column_1-4 { width: calc(25% - 1em); }
    .column_3-4 { width: calc(75% - 1em); }
}

@media (min-width: 1200px) {
    .column_1-5 { width: calc(20% - 1em); }
    .column_2-5 { width: calc(40% - 1em); }
    .column_3-5 { width: calc(60% - 1em); }
    .column_4-5 { width: calc(80% - 1em); }
}

@media (max-width: 1199px) and (min-width: 800px) {
    .column_1-5 { width: calc((100% / 3 * 1) - 1em); }
    .column_2-5 { width: calc((100% / 3 * 1) - 1em); }
    .column_3-5 { width: calc((100% / 3 * 2) - 1em); }
    .column_4-5 { width: calc((100% / 3 * 2) - 1em); }
}

@media (max-width: 799px) and (min-width: 600px) {
    .column_1-5 { width: calc((100% / 2 * 1) - 1em); }
    .column_2-5 { width: calc((100% / 2 * 1) - 1em); }
    .column_3-5 { width: calc((100% / 2 * 2) - 1em); }
    .column_4-5 { width: calc((100% / 2 * 2) - 1em); }
}

@media (min-width: 1200px) {
    .column_1-6 { width: calc((100% / 6 * 1) - 1em); }
    .column_5-6 { width: calc((100% / 6 * 5) - 1em); }
}

@media (min-width: 700px) and (max-width: 1199px)  {
    .column_1-6 { width: calc((100% / 3 * 1) - 1em); }
    .column_5-6 { width: calc((100% / 3 * 2) - 1em); }
}

@media (min-width: 800px) {
    .column_1-7 { width: calc((100% / 7 * 1) - 1em); }
    .column_2-7 { width: calc((100% / 7 * 2) - 1em); }
    .column_3-7 { width: calc((100% / 7 * 3) - 1em); }
    .column_4-7 { width: calc((100% / 7 * 4) - 1em); }
    .column_5-7 { width: calc((100% / 7 * 5) - 1em); }
    .column_6-7 { width: calc((100% / 7 * 6) - 1em); }
}

@media (min-width: 800px) {
    .column_1-8 { width: calc(12.5% - 1em); }
    .column_3-8 { width: calc(37.5% - 1em); }
    .column_5-8 { width: calc(62.5% - 1em); }
    .column_7-8 { width: calc(87.5% - 1em); }
}

@media (min-width: 800px) {
    .column_1-9 { width: calc((100% / 9 * 1) - 1em); }
    .column_2-9 { width: calc((100% / 9 * 2) - 1em); }
    .column_4-9 { width: calc((100% / 9 * 4) - 1em); }
    .column_5-9 { width: calc((100% / 9 * 5) - 1em); }
    .column_7-9 { width: calc((100% / 9 * 7) - 1em); }
    .column_8-9 { width: calc((100% / 9 * 8) - 1em); }
}

/*
--------------------
ESPACEMENTS
--------------------
*/

*:not(.section__container):not(.column):not(li):not(.vignette__image):first-child {
    margin-top: 0;
}

*:not(.section__container):not(.column):not(li):not(.vignette__image):last-child {
    margin-bottom: 0;
}

/*
--------------------
BIG AND SMALL SCREENS EXCLUSIVITIES
--------------------
*/

@media (min-width: 700px) {
    .small-screens {
        display: none !important;
    }
}

@media (max-width: 699px) {
    .big-screens {
        display: none !important;
    }
}
   
/*
==========================================================
==========================================================
DECORATIONS
==========================================================
==========================================================
*/

.bg-d-marine_light { background-color:#2d4b89; }

.bg-d-mint_light { background-color: #4dd1a9; }
.bg-d-mint_medium { background-color: #38b08c; }
.bg-d-mint_dark { background-color: #13a588; }

.bg-d-pink_light { background-color: #fa5b7d; }
.bg-d-pink_medium { background-color: #e3415c; }
.bg-d-pink_dark { background-color: #d00f4c; }

.bg-d-yellow_light { background-color: #ffcb1f; }
.bg-d-yellow_medium { background-color: #f7b90f; }
.bg-d-yellow_dark { background-color: #eda600; }

/*
--------------------
Featured slide
--------------------
*/

.featured-slide__frame {
    position: absolute;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    top: 2em;
    left: 2em;
    border: #4dd1a9 solid 3px;
    border-radius: 2px;

}


/*
--------------------
Side drawings
--------------------
*/


@media (min-width:1024px) {

    .side-drawings {
        position: absolute;
        width: 30%;
        height: 100%;
    }

    .side-drawings.cover {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .side-drawings.left { left: 0; background-position: top left; }
    .side-drawings.right { right: 0; background-position: top right; }
    .side-drawings.top { top: 0; }
    .side-drawings.bottom { bottom: 0; }

    .side-drawings.standard.left { background-image: url(img/deco_fh_gauche_01.png); }
    .side-drawings.standard.right { background-image: url(img/deco_fh_droite_01.png); }

}

/*
--------------------
Triangle
--------------------
*/

.triangle {
    position: absolute;
    background-image: url("img/triangle.png");
    background-size: 100% 100%;
    z-index: -1;
}

.triangle.top.left {
    width: 75%;
    height: 50%;
    top: 1em;
    left: 1em;
}

.triangle.bottom.right {
    transform: rotate(180deg);
    width: 50%;
    height: 30%;
    bottom: 1em;
    right: 1em;
}

/*
==========================================================
==========================================================
MIXINS BLOCK
==========================================================
==========================================================
*/

/*
--------------------
BLOCK V
--------------------
pour centrer des contenus verticalement
*/

[class*="block_v"] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block_v-center {
    justify-content: center;
}

.block_v-bottom {
    justify-content: flex-end;
}

/*
==========================================================
==========================================================
WORDPRESS ELEMENT
==========================================================
==========================================================
*/

/*
--------------------
FONT SIZES
--------------------
*/

.has-medium-font-size,
.has-large-font-size,
.has-huge-font-size {
    font-family: 'Quicksand', sans-serif;
}

.has-medium-font-size { font-size: 1.25em; }

.has-large-font-size { font-size: 1.5em; }

.has-huge-font-size { font-size: 1.8em; }