/*
==========================================================
==========================================================
BASE
==========================================================
==========================================================
*/

/*
--------------------
BODY
--------------------
*/

body {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #2d4b89;
}

/*
--------------------
PARAGRAPHS
--------------------
*/

p {
    margin: 0.5em 0;
    line-height: 1.5em;
}


/*
--------------------
LINKS
--------------------
*/

a {
    display: inline;
    padding: 0 0.2em;
    transition: all 0.2s;
    color: #38b08c;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #ffffff;
    background-color: #38b08c;
    text-decoration: none;
}

a:active {
    color: #ffffff;
    background-color: #4dd1a9;
    text-decoration: none;
}

a > i,
a > svg {
    text-decoration: none;
    margin-left: 0.25em;
}

[class*="bg-d"] a { color: #ffffff}
[class*="bg-d"] a:hover, [class*="bg-d"] a:focus { color: #38b08c; background-color: #ffffff; }
[class*="bg-d"] a:active { color: #4dd1a9; background-color: #ffffff; }

/*
--------------------
TITLES H1, H2, H3, H4, H5, H6
--------------------
*/

h1, h2, h3, h4, h5 {
    line-height: 1.125em;
    margin: 0.75em 0;
}

@media (max-width: 799px) {
    h1, h2, h3, h4, h5, h6 { text-align: center; }
}

/* ----- H1 & h2 ----- */

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    color: #e3415c;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    h1, h2 { font-size: 3em; }
}

@media (max-width: 499px) {
    h1, h2 { font-size: calc(0.106 * 100vw); }
}

/* ----- H3 ----- */

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #fa5b7d;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    h3 { font-size: 2em; }
}

@media (max-width: 499px) {
    h3 { font-size: calc(0.08 * 100vw); }
}

/* ----- H4 ----- */

h4 {
    font-family: 'Quicksand', sans-serif;
    color: #f7b90f;
    font-size: 1.75em;
}

/* ----- H5 ----- */

h5 {
    font-size: 1.5em;
}

/* ----- H6 ----- */

h6 {
    font-size: 1em;
}

/*
--------------------
UL, OL, DT, LI
--------------------
*/

li {
    margin: 0.5em 0;
}

/*
-----------------------------
FIGURES
*/

figure {}

figcaption {
    text-align: center;
}

/*
--------------------
IMG
--------------------
*/

img {
    display: block;
    max-width: 100%;
}

/*
-----------------------------
QUOTATIONS
*/

blockquote {}

blockquote > cite {}


/*
==========================================================
==========================================================
LAYOUT
==========================================================
==========================================================
*/

/*
--------------------
SITE
--------------------
*/

.site {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.site.with-wp-bar {
    top: 32px;
}

/*
--------------------
SECTIONS
--------------------
*/

.fw-section {
    width: 100%;
    position: relative;
    padding: 1px 0;
}

@media (min-width: 1024px) {

    .fh-section {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: 100vh;
    }
}

.section__container {
    padding: 3em 0;
}

.section__container + .section__container {
    padding-top: 0;
}

/*
--------------------
CHIMNEY
--------------------
*/

.chimney {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.chimney.fluid { max-width: none; }
.chimney.small { max-width: 50em; }
.chimney.x-small { max-width: 37.5em; }

@media (max-width: 1199px) and (min-width: 50em) {
    .chimney { margin: 0 3em; }
}


@media (min-width: 50em) {

    [class*="chimney"] { width: calc(100% - 6em); }
    
    .chimney.small { max-width: 50em; margin-left: auto; margin-right: auto; }

    .chimney.x-small { max-width: 37.5em; margin-left: auto; margin-right: auto; }

}

@media (max-width: 799px) {
    .chimney { width: 80%; }
}



/*
--------------------
COLUMNS
--------------------
*/

.columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -0.5em;
}

@media (max-width: 799px) {
    .columns {
        flex-wrap: wrap;
        box-sizing: border-box;
    }
}

/*
--------------------
COLUMN
--------------------
*/

.column {
    margin: 0.5em;
    width: calc(100% - 1em);
    position: relative;
}

/*
--------------------
COLUMN  SIZES
--------------------
*/

.column_1-1 { width: calc(100% - 1em); }
.column_1-1.block_no-margin { width: 100%;}

@media (min-width: 1024px) {
    .column_1-2 { width: calc(50% - 1em); }
    .column_1-2.block_no-margin { width: 50%; }
}

@media (min-width: 800px) {
    .column_1-3 { width: calc((100% / 3 * 1) - 1em); }
    .column_2-3 { width: calc((100% / 3 * 2) - 1em); }
}

@media (min-width: 800px) {
    .column_1-4 { width: calc(25% - 1em); }
    .column_3-4 { width: calc(75% - 1em); }
}

@media (min-width: 1200px) {
    .column_1-5 { width: calc(20% - 1em); }
    .column_2-5 { width: calc(40% - 1em); }
    .column_3-5 { width: calc(60% - 1em); }
    .column_4-5 { width: calc(80% - 1em); }
}

@media (max-width: 1199px) and (min-width: 800px) {
    .column_1-5 { width: calc((100% / 3 * 1) - 1em); }
    .column_2-5 { width: calc((100% / 3 * 1) - 1em); }
    .column_3-5 { width: calc((100% / 3 * 2) - 1em); }
    .column_4-5 { width: calc((100% / 3 * 2) - 1em); }
}

@media (max-width: 799px) and (min-width: 600px) {
    .column_1-5 { width: calc((100% / 2 * 1) - 1em); }
    .column_2-5 { width: calc((100% / 2 * 1) - 1em); }
    .column_3-5 { width: calc((100% / 2 * 2) - 1em); }
    .column_4-5 { width: calc((100% / 2 * 2) - 1em); }
}

@media (min-width: 1200px) {
    .column_1-6 { width: calc((100% / 6 * 1) - 1em); }
    .column_5-6 { width: calc((100% / 6 * 5) - 1em); }
}

@media (min-width: 700px) and (max-width: 1199px)  {
    .column_1-6 { width: calc((100% / 3 * 1) - 1em); }
    .column_5-6 { width: calc((100% / 3 * 2) - 1em); }
}

@media (min-width: 800px) {
    .column_1-7 { width: calc((100% / 7 * 1) - 1em); }
    .column_2-7 { width: calc((100% / 7 * 2) - 1em); }
    .column_3-7 { width: calc((100% / 7 * 3) - 1em); }
    .column_4-7 { width: calc((100% / 7 * 4) - 1em); }
    .column_5-7 { width: calc((100% / 7 * 5) - 1em); }
    .column_6-7 { width: calc((100% / 7 * 6) - 1em); }
}

@media (min-width: 800px) {
    .column_1-8 { width: calc(12.5% - 1em); }
    .column_3-8 { width: calc(37.5% - 1em); }
    .column_5-8 { width: calc(62.5% - 1em); }
    .column_7-8 { width: calc(87.5% - 1em); }
}

@media (min-width: 800px) {
    .column_1-9 { width: calc((100% / 9 * 1) - 1em); }
    .column_2-9 { width: calc((100% / 9 * 2) - 1em); }
    .column_4-9 { width: calc((100% / 9 * 4) - 1em); }
    .column_5-9 { width: calc((100% / 9 * 5) - 1em); }
    .column_7-9 { width: calc((100% / 9 * 7) - 1em); }
    .column_8-9 { width: calc((100% / 9 * 8) - 1em); }
}

/*
--------------------
ESPACEMENTS
--------------------
*/

*:not(.section__container):not(.column):not(li):not(.vignette__image):first-child {
    margin-top: 0;
}

*:not(.section__container):not(.column):not(li):not(.vignette__image):last-child {
    margin-bottom: 0;
}

/*
--------------------
BIG AND SMALL SCREENS EXCLUSIVITIES
--------------------
*/

@media (min-width: 700px) {
    .small-screens {
        display: none !important;
    }
}

@media (max-width: 699px) {
    .big-screens {
        display: none !important;
    }
}

/*
==========================================================
==========================================================
MAIN-NAV
==========================================================
==========================================================
*/

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.main-nav__logo {
    display: block;
    height: 1.75em;
    background-color: transparent;
    padding: 0;
    overflow: visible;
}

.main-nav__logo:hover {
    background-color: #ffffff;
}

.main-nav__logo > span {
    display: block;
    position: relative;
    top: -0.75em;
    text-indent: -1000px;
    background-image: url(img/logo_main-menu_white.png);
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s;
    background-size: 100% 100%;
}

.main-nav__logo:hover > span,
.main-nav__logo:focus > span {
    background-image: url(img/logo_main-menu_mint_dark.png);
}

.main-nav__logo:active > span {
    background-image: url(img/logo_main-menu_mint_medium.png);
}

.main-menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.main-menu__link {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
    color: #fff;
}

.main-menu__link:hover,
.main-menu__link:focus {
    background-color: #ffffff;
    color: #38b08c;
}

.main-menu__link:active {
    color: #13a588;
}

@media (min-width: 800px) {

    .main-nav {
        display: flex;
        justify-content: center;
    }
    
    .main-nav.with-wp-bar {
        top: 32px;
    }

    .main-nav__logo_desktop {
        margin: 0 1.5em;
    }

    .main-nav__logo_desktop > span {
        width: 8em;
        height: 3em;
        margin: 0 0.25rem;
    }

    .main-nav__logo_mobile {
        display: none;
    }

    #main-nav__toggler,
    #main-nav__hamburger {
        display: none;
    }

    .main-menu__wrap {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0.5em 0;
    }

    .main-menu {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    .main-menu__item {
        margin: 0 1em;
    }

    .main-menu__link {
        padding: 0.375rem 0.5rem;
        text-align: center;
        font-size: 0.875em;
    }

}

@media (max-width: 799px) {

    .main-nav {
        padding: 1em 0;
        background-color: #4dd1a9;
    }

    .main-nav.with-wp-bar {
        top: 46px;
    }
    
    .main-nav__logo_mobile {
        width: 8em;
        margin: 0 1em;
    }

    .main-nav__logo_mobile > span {
        width: 8em;
        height: 3em;
    }

    .main-menu {
        padding: 1px 0;
    }

    .main-menu__item {
        margin: 1em 0;
    }

    .main-menu__link {
        padding: 0.5em;
        font-size: 1em;
        text-align: center;
    }

    /* --- Menu Brad Traversy --- */

    #main-nav__toggler {
        position: absolute;
        top: 0;
        right: 1em ;
        z-index: 2;
        cursor: pointer;
        width: 44px;
        height: 25px;
        box-sizing: border-box;
        opacity: 0;
        margin: 1em 2px 1em 0;
    }

    #main-nav__hamburger {
        position: absolute;
        top: 0;
        right: 1em;
        z-index: 1;
        width: 44px;
        height: 25px;
        box-sizing: border-box;
        padding: 5px 8px;
        margin: 1em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }

    /* Hamburger Line */
    #main-nav__hamburger__line {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    /* Hamburger Lines - Top & Bottom */
    #main-nav__hamburger__line::before,
    #main-nav__hamburger__line::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    /* Moves Line Down */
    #main-nav__hamburger__line::after {
        top: 10px;
    }

    /* Toggler Animation */
    #main-nav__toggler:checked + #main-nav__hamburger > #main-nav__hamburger__line {
        transform: rotate(135deg);
    }

    /* Turns Lines Into X */
    #main-nav__toggler:checked + #main-nav__hamburger > #main-nav__hamburger__line:before,
    #main-nav__toggler:checked + #main-nav__hamburger > #main-nav__hamburger__line:after {
        top: 0;
        transform: rotate(90deg);
    }

    /* Rotate On Hover When Checked */
    #main-nav__toggler:checked:hover + #main-nav__hamburger > #main-nav__hamburger__line {
        transform: rotate(225deg);
    }

    /* Show Menu */
    #main-nav__toggler:checked ~ #main-nav__splash {
        visibility: visible;
    }

    #main-nav__toggler:checked ~ #main-nav__splash > #main-nav__splash_1 {
        transform: scale(1);
        transition-duration: 0.75s;
    }

    #main-nav__toggler:checked ~ #main-nav__splash > #main-nav__splash_1 > #main-nav__splash_2 {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }

    #main-nav__splash {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main-nav__splash_1 {
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        padding: 1em;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
      
    #main-nav__splash_2 {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .main-nav__logo_desktop {
        display: none;
    }

}

/*
==========================================================
==========================================================
FOOTER
==========================================================
==========================================================
*/

/*
--------------------
FOOTER-CTA
--------------------
*/

.footer-cta {
    position: relative;
}

/* -----  déco ----- */

.footer-cta:before,
.footer-cta:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

@media (min-width: 800px) {
    .footer-cta:before,
    .footer-cta:after {
        top: 0;
        width: 20%;
        height: 100%;
        background-size: auto 100%;
    }
}

@media (max-width: 799px) {
    .footer-cta:before,
    .footer-cta:after {
        width: 100%;
        height: 14em;
        background-size: contain;
        background-position: center;
    }
}

@media (min-width: 800px) {
    .footer-cta:before {
        background-image: url("img/deco_footer-cta_gauche.png");
        left: 0;
        background-position: top left;
    }
}

@media (max-width: 799px) {
    .footer-cta:before {
        background-image: url("img/deco_footer-cta_haut.png");
        top: 0:
    }
}

.footer-cta:after {
    background-image: url("img/deco_footer-cta_droite.png");
}

@media (min-width: 800px) {
    .footer-cta:after {
        right: 0;
        background-position: top right;
    }
}

@media (max-width: 799px) {
    .footer-cta:after {
        bottom: 0;
    }
}

/* -----  chimney ----- */

@media (min-width: 800px) {
    .footer-cta > .chimney {
        max-width: 70% !important;
        margin: auto;
    }
}

/* -----  container ----- */

.footer-cta__container {
    align-items: center;
}

@media (min-width: 800px) {
    .footer-cta__container {
        padding: 1.25em 0;
    }
}

@media (max-width: 799px) {
    .footer-cta__container {
        padding: 15em 0;
    }
}

/* -----  catchphrases ----- */

.footer-cta__catchphrases > p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}

@media (min-width: 800px) {
    .footer-cta__catchphrases > p {
        margin: 0.5em 0;
        line-height: 1em;
    }
}

@media (max-width: 799px) {
    .footer-cta__catchphrases > p {
        text-align: center;
        margin: 2em 0;
        line-height: 1.25em;
    }
}

/* -----  button ----- */

.footer-cta__button > p {
    text-align: center;
    font-size: 1.25em;
    color: #ffffff;
    line-height: 1.25em;
}

/*
--------------------
FOOTER
--------------------
*/

.footer {
    padding: 3em 0 4em;
}

@media (min-width: 800px) {

    .footer__signature {
        width: calc(25% - 0.5em);
        margin-right: 5%;
    }

    .footer__menu {
        width: calc(70% - 1em);
    }

}

.footer__title {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #2d4b89;
}

@media (max-width: 799px) {
    .footer__title {
        margin-top: 1em !important;
    }
}


.footer__links {
    list-style: none;
    padding: 0;
}

@media (max-width: 799px) {
    .footer__links {
        text-align: center;
    }
}

/*
==========================================================
==========================================================
SIGNATURE
==========================================================
==========================================================
*/

.signature {
    text-align: center;
}

.signature__image {
    width: 80%;
    max-width: 300px;
    margin: 0 auto -1.25em;
}

.signature__nom {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
}

.signature > p {
    margin: 0.1em 0;
}

/*
==========================================================
==========================================================
DECORATIONS
==========================================================
==========================================================
*/

.bg-d-marine_light { background-color:#2d4b89; }
.bg-d-marine_dark { background-color: #21386c; }

.bg-d-mint_light { background-color: #4dd1a9; }
.bg-d-mint_medium { background-color: #38b08c; }
.bg-d-mint_dark { background-color: #13a588; }

.bg-d-pink_light { background-color: #fa5b7d; }
.bg-d-pink_medium { background-color: #e3415c; }
.bg-d-pink_dark { background-color: #d00f4c; }

.bg-d-yellow_light { background-color: #ffcb1f; }
.bg-d-yellow_medium { background-color: #f7b90f; }
.bg-d-yellow_dark { background-color: #eda600; }

.bg-l-cream { background-color: #f6f7f1; }

/*
--------------------
Featured slide
--------------------
*/

.featured-slide {
    padding: 1em;
    box-sizing: border-box;
}

.featured-slide__frame {
    position: absolute;
    box-sizing: border-box;
    border: #4dd1a9 solid 3px;
    border-radius: 2px;
    z-index: 2;
}

@media (min-width: 700px) {
    .featured-slide__frame {
        width: calc(100% - 4em);
        height: calc(100% - 4em);
        top: 2em;
        left: 2em;
    }
}

@media (max-width: 699px) {
    .featured-slide__frame {
        width: calc(100% - 2em);
        height: calc(100% - 2em);
        top: 1em;
        left: 1em;
    }
}

.featured-slide > .chimney {
    z-index: 3;
}


/*
--------------------
Side drawings
--------------------
*/


@media (min-width:1024px) {

    .side-drawings {
        position: absolute;
        width: calc((100% - 37.5em) / 2);
        height: 100%;
        z-index: 1;
    }

    .side-drawings.cover {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .side-drawings.left {
        right: calc(((100% - 37.5em) / 2) + 37.5em);
        background-position: top left;
    }

    .side-drawings.right {
        left: calc(((100% - 37.5em) / 2) + 37.5em);
        background-position: bottom right;
    }

    .side-drawings.top { top: 0; }
    .side-drawings.bottom { bottom: 0; }

    .side-drawings.standard.left { background-image: url(img/deco_fh_gauche_01.png); }
    .side-drawings.standard.right { background-image: url(img/deco_fh_droite_01.png); }

}

/*
--------------------
Triangle
--------------------
*/

.triangle {
    position: absolute;
    background-image: url("img/triangle.png");
    background-size: 100% 100%;
    z-index: -1;
}

.triangle.top.left {
    width: 75%;
    height: 50%;
}

.triangle.bottom.right {
    transform: rotate(180deg);
    width: 50%;
    height: 30%;
}

@media (min-width: 700px) {

    .triangle.top.left {
        top: 1em;
        left: 1em;
    }
    
    .triangle.bottom.right {
        bottom: 1em;
        right: 1em;
    }

}

@media (max-width: 699px) {

    .triangle.top.left {
        top: 0.5em;
        left: 0.5em;
    }
    
    .triangle.bottom.right {
        bottom: 0.5em;
        right: 0.5em;
    }
    
}


/*
==========================================================
==========================================================
MIXINS TEXT
==========================================================
==========================================================
*/

/*
--------------------
TEXT SIZE
--------------------
*/

.text_size.small {
    font-size: 0.75em;
}

.text_size.x-small {
    font-size: 0.5em;
}

.text_size.large {
    font-size: 1.5em;
}

.text_size.x-large {
    font-size: 2em;
}

/*
--------------------
TEXT TYPO
--------------------
*/

.text_cursive {
    font-family: 'Kalam', cursive;
    font-weight: normal;
}


/*
--------------------
TEXT ALIGN
--------------------
*/

.text_center {
    text-align: center;
}

@media (min-width: 800px) {

    .text_left {
        text-align: left;
    }

    .text_right {
        text-align: right;
    }

}

/*
--------------------
TEXT COLOR
--------------------
*/

.text_color, .text_green { color: #7da237 !important; }
.text_blue { color: #579ea5 !important; }
.text_red { color: #a41515 !important; }
.text_yellow { color: #db9500 !important; }

.text_charcoal { color: #33383d !important; }
.text_mouse { color: #999a9f !important; }
.text_cream { color: #eae6cf !important; }
.text_pearl { color: rgba(0,0,0,0.1) !important; }
.text_white { color: #ffffff !important; }

/*
--------------------
TEXT COLUMNS
--------------------
*/

@media (min-width: 800px) {

    [class*="text_columns"] {
        column-gap : 4rem;
        margin: 3em 0 4em;
    }

    .text_columns_2 { columns: 2; }

    .text_columns_3 { columns: 3; }

    .text_columns:first-child {
        margin-top: 0;
    }

    .text_columns:last-child {
        margin-bottom: 0;
    }

    .text_columns > *:first-child {
        margin-top: 0;
    }

}

/*
--------------------
EXERGUE
--------------------
*/

.exergue {
    font-size: 2em;
    color: #a86e00;
    border-style: solid;
    border-width: 0 0.125em;
    padding: 0.5em 1.5em;
    margin: 2em -1.5em;
    border-color: #db9500;
}

/*
--------------------
SOLIDARITY
--------------------
*/

.solidarity {
    display: inline-block;
}

/*
--------------------
LINK-ALT
--------------------
*/


.link-alt {
    display: inline-block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: #2d4b89;
    text-decoration: none;
}

.link-alt:hover,
.link-alt:focus {
    color: #21386c;
    text-decoration: underline;
    background-color: transparent;
}

.link-alt:active {
    color: #ffffff;
    text-decoration: underline;
    background-color: #2d4b89;
}

/*
==========================================================
==========================================================
MIXINS BLOCK
==========================================================
==========================================================
*/

/*
--------------------
BLOCK V
--------------------
pour centrer des contenus verticalement
*/

    [class*="block_v"] {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .block_v-center {
        justify-content: center;
    }

    .block_v-bottom {
        justify-content: flex-end;
    }

/*
==========================================================
==========================================================
BUTTON
==========================================================
==========================================================
*/

.button.simple {
    text-decoration: none;
    padding: 0.75em 1.25em;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0.2em;
}

/*
--------------------
THEMES
--------------------
*/

/* ----- SECUNDARY ----- */

.button.secundary {
    border-style: solid;
    border-width: 2px;
    border-color: #4dd1a9;
    color: #4dd1a9;
    background-color: #ffffff;
}

.button.secundary:hover,
.button.secundary:focus {
    border-color: #38b08c;
    color: #38b08c;
}

.button.secundary:focus {
    border-color: #13a588;
    color: #13a588;
}

/*
==========================================================
==========================================================
WORDPRESS ELEMENT
==========================================================
==========================================================
*/

/*
--------------------
FIGURES
--------------------
*/

.wp-block-image > figure > img {
    height: auto;
}

/*
--------------------
FONT SIZES
--------------------
*/

.has-medium-font-size,
.has-large-font-size,
.has-huge-font-size {
    font-family: 'Quicksand', sans-serif;
}

@media (min-width: 700px) {

    .has-medium-font-size { font-size: 1.25em; }

    .has-large-font-size { font-size: 1.5em; }

    .has-huge-font-size { font-size: 1.8em; }

}

@media (max-width: 699px) {

    .has-medium-font-size { font-size: 1.125em; }

    .has-large-font-size { font-size: 1.25em; }

    .has-huge-font-size { font-size: 1.38em; }

}